body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #7581a1;
}
a {
    text-decoration: none;
}
h1 {
    font-size:80px;
    font-weight:600;
    color:#192b59;
}
.nav {
    font-size:12px;
    font-weight:700;
    color:6e7ea9;
    text-transform: uppercase;
}
.btn-free {
    color:#ffffff;
    font-weight:400;
    background-color: #1085e4;
}
.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight:700;
}
.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    display: block;
}
.grid-item h3 {
    font-size: 20px;
    color: #192b59;
    font-weight: 600;
}
.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}